<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <div style="display: grid; grid-template-columns: 130px auto 65%">
    <div><label for="nameId">Uppercase:&nbsp;</label></div>
    <div>
      <input type="text"
             id="uppercase"
             name="uppercase"
             [(ngModel)]="user.name"
             #uppercaseInput="ngModel"
             [uppercase] = "'a'">
      <div>
        <span *ngIf="uppercaseInput.invalid">Uppercase input contains errors: {{uppercaseInput.errors|json}}</span>
      </div>
    </div>
    <div><label for="nameId">Name:&nbsp;</label></div>
    <div>
      <input type="text"
           id="nameId"
           name="name"
           [(ngModel)]="user.name"
           #nameInput="ngModel"
           [appStartWith] = "'a'"
           required>
    </div>
    <div>
      <span *ngIf="nameInput.invalid">Name input contains errors: {{nameInput.errors|json}}</span>
    </div>
    <div>
      <label for="usernameId">Username:&nbsp;</label>
    </div>
    <div>
      <input type="text"
             id="usernameId"
             name="username"
             [(ngModel)]="user.userName"
             userUniqueValid
             #username="ngModel"
             required>
    </div>
    <div>
      <span *ngIf="username.invalid">Username input contains errors: {{username.errors|json}}</span>
    </div>
    <div>
      <label for="passwordId">Password:&nbsp;</label>
    </div>
    <div>
      <input type="text"
             id="passwordId"
             name="password"
             [(ngModel)]="user.password"
             #nameInput="ngModel"
             required>
    </div>
    <div></div>
    <div>
      <label for="password2Id">Re-enter password:&nbsp;</label>
    </div>
    <div>
      <input type="text"
             id="password2Id"
             name="password2"
             [(ngModel)]="user.password2"
             #password2Input="ngModel"
             validateEqual="password"
             required>
    </div>
    <div>
      <span *ngIf="password2Input.invalid">Password2 input contains errors: {{password2Input.errors|json}}</span>
    </div>
  </div>
</form>
<br>Name input value: {{nameInputValue}}
<br>Form value: {{formValue|json}}
