<div class="container">
  <div class="row">
    <div class="col">
      <h2>Cubic Bézier functions</h2>
      <button class="btn btn-primary" (click)="rightCubic = !rightCubic">Go!</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col col-xs-12 col-sm-4">
      <h4>linear</h4>
      <p>cubic-besier(0.0, 0.0, 1.0, 1.0)</p>
    </div>
    <div class="col col-xs-12 col-sm-8">
      <div class="tile tile--linear" [ngClass]="{'tile--right': rightCubic}"></div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col col-xs-12 col-sm-4">
      <h4>ease</h4>
      <p>cubic-bezier(0.25, 0.1, 0.25, 1.0)</p>
    </div>
    <div class="col col-xs-12 col-sm-8">
      <div class="tile tile--ease" [ngClass]="{'tile--right': rightCubic}"></div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col col-xs-12 col-sm-4">
      <h4>ease-in</h4>
      <p>cubic-bezier(0.42, 0.0, 1.0, 1.0)</p>
    </div>
    <div class="col col-xs-12 col-sm-8">
      <div class="tile tile--ease-in" [ngClass]="{'tile--right': rightCubic}"></div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col col-xs-12 col-sm-4">
      <h4>ease-out</h4>
      <p>cubic-bezier(0.0, 0.0, 0.58, 1.0)</p>
    </div>
    <div class="col col-xs-12 col-sm-8">
      <div class="tile tile--ease-out" [ngClass]="{'tile--right': rightCubic}"></div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col col-xs-12 col-sm-4">
      <h4>ease-in-out</h4>
      <p>cubic-bezier(0.42, 0.0, 0.58, 1.0)</p>
    </div>
    <div class="col col-xs-12 col-sm-8">
      <div class="tile tile--ease-in-out" [ngClass]="{'tile--right': rightCubic}"></div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col col-xs-12 col-sm-4">
      <h4>Ease out and back</h4>
      <p>cubic-bezier(0.175, 0.885, 0.32, 1.275)</p>
    </div>
    <div class="col col-xs-12 col-sm-8">
      <div class="tile tile--ease-out-back" [ngClass]="{'tile--right': rightCubic}"></div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col col-xs-12 col-sm-4">
      <h4>Custom cubic function</h4>
      <p>cubic-bezier(.39,2.05,.35,-0.76)</p>
    </div>
    <div class="col col-xs-12 col-sm-8">
      <div class="tile tile--custom-cubic" [ngClass]="{'tile--right': rightCubic}"></div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h1>Step functions</h1>
      <button class="btn btn-primary" (click)="rightSteps = !rightSteps">Go!</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col col-xs-12 col-sm-4">
      <h4>Jump start</h4>
      <p>steps(4, start)</p>
    </div>
    <div class="col col-xs-12 col-sm-8">
      <div class="tile tile--step-jump-start" [ngClass]="{'tile--right': rightSteps}"></div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col col-xs-12 col-sm-4">
      <h4>Jump end</h4>
      <p>steps(4, end)</p>
    </div>
    <div class="col col-xs-12 col-sm-8">
      <div class="tile tile--step-jump-end" [ngClass]="{'tile--right': rightSteps}"></div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col col-xs-12 col-sm-4">
      <h4>No jump (Firefox only)</h4>
      <p>steps(4, jump-none)</p>
    </div>
    <div class="col col-xs-12 col-sm-8">
      <div class="tile tile--step-no-jump" [ngClass]="{'tile--right': rightSteps}"></div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col col-xs-12 col-sm-4">
      <h4>Jump both (Firefox only)</h4>
      <p>steps(4, jump-both)</p>
    </div>
    <div class="col col-xs-12 col-sm-8">
      <div class="tile tile--step-no-jump" [ngClass]="{'tile--right': rightSteps}"></div>
    </div>
  </div>
</div>

